/* cmi styles */

:root {
  --masthead-color:#871212;
  --signed-in-color: green;
  --signed-in-background: #f1f1f7;
}
<!-- 
body {
  color: #454545;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  background-color: #FFFFFF;
}

.main.container {
  margin-top: 2em;
}

/* masthead header */
.cmi-header .ui.header {
  font-size: 2.2rem;
  font-weight: 400;
}

.cmi-header .ui.header,
.cmi-header .cmi-header-breadcrumb,
.cmi-header .cmi-header-breadcrumb a {
  color: var(--masthead-color);
}

.cmi-header > a > h1.ui.header:hover {
  color: #1e70bf;
}
.cmi-header-breadcrumb.ui.big.breadcrumb {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* cmi menu */
.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease;
}

.main.menu a {
  outline: 0;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.signed-in {
  background-color: var(--signed-in-background);
  border-radius: 5px;
}

/* When user is logged in */
.colorGreen {
  color: var(--signed-in-color);
}

/* hide profile mgt menu option when not signed in */
.hide.profile-management.item {
  display: none;
}

.toc-list .item > a.current-unit,
.toc-list .list > .item.current-unit {
  background-color: var(--masthead-color);
  color: white!important;
  padding-left: 4px;
  padding-right: 4px;
  cursor: default!important;
  border-radius: 5px;
}

/* add margin so the navigator does not hide a bookmark or search result */
.transcript.ui.text.container.bookmark-navigator-active,
.transcript.ui.text.container.search-navigator-active {
  margin-bottom: 250px;
}

/* footer */
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

/* bookmark list modal */
.ui.list .list > .hide-bookmark-item.bookmark-item.item, 
.ui.list .list.hide-bookmarks {
  display: none
}

.ui.list.cmi-bookmark-list {
  margin-left: 20px;
}

.bookmark-filter-color {
  color: green;
}

