/* add your source css here */

.transcript blockquote {
  font-style: italic;
}

.person2 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f2e6f3;
  border-radius: 8px;
}

.book2 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #c8e7f1;
  border-radius: 8px;
}

.transcript .person {
  border-left: 5px solid #ea56f7;
  padding: 10px;
  margin-bottom: 20px;
}

.transcript .book:not(.icon) {
  border-left: 5px solid #39cdfd;
  padding: 10px;
  margin-bottom: 20px;
}

