{% comment %}
usage: {% include form/subscribe.html %}
{% endcomment %}
<div class="subscribe-form-message ui message">
  <p>Subscribe to our mail list.</p>
</div>
<form name="subscribe" id="subscribe-form" action="/subscribe/" class="ui form" netlify>
  <div class="required inline field">
    <label>Name</label>
    <input name="name" placeholder="Name" type="text">
  </div>
  <div class="required inline field">
    <label>E-mail</label>
    <input name="email" type="email" placeholder="E-mail address">
  </div>
  <button id="subscribe-form-submit" class="ui button" type="submit">Submit</button>
</form>

