<div class="ui borderless main menu">
  <div id="page-menu" class="ui text container">
    <a href="#" class="bookmark-modal-open ui dropdown item">
      <span data-position="bottom center" data-tooltip="Show Bookmarks">
        <i class="red bookmark icon"></i>
      </span>
    </a>
    <a href="#" class="item search-modal-open">
      <span data-position="bottom center" data-tooltip="Search {{site.title}}">
        <i class="search icon"></i>
      </span>
    </a>
    <a id="help-menu" href="#" class="ui dropdown item">
      <i class="question icon"></i>
      <div class="menu">
        <div class="page-tour item">Tour This Teaching</div>
        <div class="page-navtour item">Getting Around</div>
        <div class="read-documentation item">Read Documentation</div>
        <div class="view-documentation item">Watch Video Instruction</div>
      </div>
    </a>
    <a href="#" class="login-menu-option ui right floated item">
      <span data-position="bottom center" data-tooltip="Sign In">
        <i class="red sign in icon"></i>
      </span>
    </a>
  </div>
</div>
