<div class="ui borderless main menu">
  <div id="page-menu" class="ui text container">
    <a id="bookmark-dropdown-menu" href="#" class="bookmark-modal-open requires-signin hide ui dropdown item">
      <span data-position="bottom center" data-tooltip="Show Bookmarks">
        <i class="red bookmark icon"></i>
      </span>
    </a>
    <a id="search-modal-open" href="#" class="item search-modal-open">
      <span data-position="bottom center" data-tooltip="Search {{site.title}}">
        <i class="search icon"></i>
      </span>
    </a>
    {% include common/quick-link-menu.html name="raj" %}
    <a id="help-menu" href="#" class="ui dropdown item">
      <i class="question icon"></i>
      <div class="menu">
        <div class="page-tour item">Tour This Teaching</div>
        <div class="page-navtour item">Getting Around</div>
        <div class="read-documentation item">Read Documentation</div>
        <div class="view-documentation item">Watch Video Instruction</div>
        <div class="contact-me item">Get In Touch</div>
      </div>
    </a>
    <a id="login-guest-menu-option" href="#" class="login-menu-option-guest ui right floated item">
      <span data-position="bottom center" data-tooltip="Sign In">
        <i class="red sign in icon"></i>
      </span>
    </a>
    <a id="login-account-menu-option" href="#" class="login-menu-option-account hide dropdown ui right floated item">
      <span>
        <i class="green sign out icon"></i>
      </span>
      <div class="menu">
        <div class="account-signout-option item">Sign Out</div>
        <div class="divider"></div>
        <div class="profile-management item">Manage Email List</div>
        <div class="topic-management item">Manage Topics</div>
      </div>
    </a>
  </div>
</div>
