<a id="quick-links-dropdown-menu" href="#" class="ui dropdown item">
  <i class="book icon"></i>
  <div id="quick-links" class="menu">
    {% unless include.name == "acim" %}
    <div class="item" data-href="/acim/">ACIM Sparkly Edition</div>
    {% endunless %}
    {% unless include.name == "raj" %}
    <div class="item" data-href="/raj/">The Raj Material</div>
    {% endunless %}
    {% unless include.name == "wom" %}
    <div class="item" data-href="/wom/">The Way of Mastery</div>
    {% endunless %}
    {% unless include.name == "jsb" %}
    <div class="item" data-href="/jsb/">The Impersonal Life</div>
    {% endunless %}
  </div>
</a>
