<div class="ui annotation-information flowing popup top left transition hidden">
  <div class="column">
    <div class="topic-list ui horizontal bulleted list"></div>
    <div class="range"></div>
    <div class="description"></div>
    <div class="extra ui horizontal bulleted list"></div>
    <button style="display:block;" tabindex="1" id="popup-button" class="ui green button">Copy Link Reference</button>
  </div>
</div>

<!-- bookmark link list popup -->
<div class="ui bm-link-info flowing popup top center transition hidden">
  <div class="ui list bm-link-list-popup">
    <a class="item">Link 1</a>
    <a class="item">Link 2</a>
  </div>
</div>