<div class="hide-bookmark-navigator bookmark-navigator-wrapper">
  <div class="bookmark-navigator ui raised padded red segment">
    <div class="ui horizontal list">
      <a class="previous-page item">
        <i class="left arrow icon"></i>
        Previous Page
      </a>
      <a class="previous-bookmark item">
        <i class="up arrow icon"></i>
        Previous
      </a>
      <a class="current-bookmark item">
        <i class="asterisk icon"></i>
        Current
      </a>
      <a class="next-bookmark item">
        <i class="down arrow icon"></i>
        Next
      </a>
      <a class="next-page item">
        <i class="right arrow icon"></i>
        Next Page
      </a>
      <a class="close-window item">
        <i class="window close outline icon"></i>
        Close
      </a>
    </div>
    <div id="bookmark-content"></div>
  </div>
</div>