<div class="hide email-share-dialog-wrapper">
  <div class="email-share-dialog ui raised padded green segment">
    <form name="emailshare" id="email-share-form" class="ui form">
      <div class="fields">
        <div id="topic-select" class="ten wide field">
        </div>
      </div>
      <div class="field">
        <label>Enter Email Address(es)</label>
        <input type="text" name="emailAddresses" placeholder="Comma delimited list">
      </div>
      <div class="fields">
        <button class="ui button" type="submit">Submit</button>
        <button class="email-share-cancel ui button">Cancel</button>
      </div>
    </form>
  </div>
</div>