<div class="hide email-share-dialog-wrapper">
  <div class="email-share-dialog ui raised padded green segment">
    <div class="email-share-loader ui centered inline loader"></div>
    <p>Select recipients from the dropdown list and/or enter email addresses in the field below.</p>
    <form name="emailshare" id="email-share-form" class="ui form">
      <div id="maillist-select" class="field"></div>
      <div class="field">
        <label>Enter Email Address(es)</label>
        <input type="text" name="emailAddresses" placeholder="Comma delimited list">
      </div>
      <div class="field">
        <label>Add a message to send with the quote.</label>
        <textarea type="text" name="emailMessage" rows="2" placeholder="Your message. (optional)"></textarea>
      </div>
      <div class="fields">
        <button class="ui button" type="submit">Submit</button>
        <button class="email-share-cancel ui button">Cancel</button>
      </div>
    </form>
  </div>
</div>
