<div id="quote-modal" class="ui small modal quote-coupled">
  <div id="quote-modal-header" class="center header"><em>{{site.title}}</em></div>
  <div id="quote-modal-content" class="content"></div>
  <div id="quote-modal-message" class="ui hidden small"></div> 
  <div class="actions">
    <button id="quote-modal-facebook" title="{{site.data.lang.share.s5}}" class="hidden ui blue icon button">
        <i class="facebook icon"></i>
    </button>
    <button id="quote-modal-share" title="{{site.data.lang.share.s6}}" class="hidden approve ui blue icon button">
        <i class="paper plane icon"></i>
    </button>
    <button id="quote-modal-more" title="{{site.data.lang.share.s7}}" class="ui green icon button">
        <i class="quote left icon"></i>
    </button>
    <button id="quote-modal-cancel" title="{{site.data.lang.nav.n6}}" class="deny ui red icon button">
        <i class="window close icon"></i>
    </button>
  </div>
</div>
