<div class="timecapture ui modal">
  <i class="close icon"></i>
  <div class="ui large header">
    Audio Time Capture
  </div>
  <div class="image content">
    <div class="image">
      <img src="/public/img/cmi/time-capture1.png" alt="Time Capture">
    </div>
    <div content="container">
      <div class="ui timecapture positive message">
        <div class="content">
          <div class="timecapture-message header">
            Send Us Your Data
          </div>
          <div class="timecapture-message-body">
            <p>
              Thank you for supporting the Library!!
            </p>
            <p>
              The recording has finished and data collected. Please fill the
              form below and press 'Submit' to send us the timing data you
              captured.
            </p>
          </div>
        </div>
      </div>
      {% include form/time-capture.html %}
    </div> <!-- container -->
  </div>
</div>
