<!-- _includes/components/toc-modal.html -->
<div class="toc small ui modal">
  <i class="close icon"></i>
  <div class="toc-title ui large centered header">
    <i class="share square icon toc-share"></i>&nbsp;
    Table of Contents
  </div>
  <div class="message"></div>
  <div class="ui divider"></div>
  <div class="image scrolling content">
    <div class="ui small rounded image">
      <img class="toc-image" src="/public/img/site/toc_modal.png" alt="Table of Contents">
    </div>
    <div class="toc-list meta"></div>
  </div>
  <div class="ui hidden divider"></div>
</div>
