<!-- _includes/components/toc-modal.html -->
<div class="toc small ui modal">
  <i class="close icon"></i>
  <div class="toc-title ui large centered header">
    Table of Contents
  </div>
  <div class="ui raised very padded text container segment">
    <div class="ui items">
      <div class="item">
        <div class="ui small rounded image">
          <img class="toc-image" src="/public/img/cmi/toc_modal.png" alt="Table of Contents">
        </div>
        <div class="scrolling content">
          <div class="toc-list meta"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
